body
  padding: 50px
  font: 14px monospace
a
  color: #666

.button
  font-family monospace
  border 1px solid #333
  color #333
  background #fff
  padding 1em
  display inline-block
  transition .4s all
  text-decoration underline
  &:hover
    border-color #666
    color #666
  &:focus
    outline none

#your-hashtag
  @extend .button
  width 300px

.creepy
  color #666

.hashtag
  font-weight bold
  font-size 18px
